<tabset #staticTabs class="{{getreadResultCssClass()}}" >
  <tab heading="Question" (selectTab)="onTabSelect($event)" >
    <p class="text-{{this.readCard.jsonData.textStyles[0].align}} text-{{this.readCard.jsonData.textStyles[0].direction}}" >
      {{ readCard.card.question }}
    </p>
    <app-text-style (styleChanged)="setStyleChanged()" [currentStyle]="this.readCard.jsonData.textStyles[0]"></app-text-style>
    
  </tab>
  <tab heading="Answer" (selectTab)="onTabSelect($event)">
    <p class="text-{{this.readCard.jsonData.textStyles[1].align}} text-{{this.readCard.jsonData.textStyles[1].direction}}" >
    {{ readCard.card.answer }}</p>
    <app-text-style (styleChanged)="setStyleChanged()" [currentStyle]="this.readCard.jsonData.textStyles[1]"></app-text-style>
  </tab>
  <tab heading="Example" (selectTab)="onTabSelect($event)">
    <p class="text-{{this.readCard.jsonData.textStyles[2].align}} text-{{this.readCard.jsonData.textStyles[2].direction}}" >
    {{ readCard.card.example }}
    </p>
    <app-text-style (styleChanged)="setStyleChanged()" [currentStyle]="this.readCard.jsonData.textStyles[2]" ></app-text-style>
  </tab>
</tabset>

<div class="row mt-2">
  <div class="col-6">
    <button class="btn btn-success" (click)="setAsSucceed()" *ngIf="!isCardRead()" >Yay! Done </button>
    <button class="btn btn-warning" (click)="noChange()" *ngIf="isCardRead()" >Next Card</button>
  </div>
  <div class="col-6 text-right">
    <button class="btn btn-danger" (click)="setAsFailed()" *ngIf="!isCardRead()" >Send It Back! </button>
  </div>
</div>
