<div class="container">
  <div class="row">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-md-6 col-lg-4">
      <form [formGroup]="form" (ngSubmit)="resetPass()">
        <h2 class="text-primary">Change Password</h2>
        <hr />
        <div *ngIf="failed" class="alert alert-danger">
          {{ errors }}
        </div>

        <div class="form-group">
          <input
            type="password"
            [ngClass]="{
              'is-invalid':
                form.get('password').errors && form.get('password').touched
            }"
            class="form-control"
            formControlName="password"
            placeholder="Password"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              form.get('password').hasError('required') &&
              form.get('password').touched
            "
          >
            The Password field is required.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              form.get('password').hasError('minlength') &&
              form.get('password').touched
            "
          >
            Password must be at least 8 characters
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            [ngClass]="{
              'is-invalid':
                (form.get('confirmPassword').errors &&
                  form.get('confirmPassword').touched) ||
                (form.get('confirmPassword').touched &&
                  form.hasError('mismatch'))
            }"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
          />

          <div
            class="invalid-feedback"
            *ngIf="
              form.get('confirmPassword').hasError('required') &&
              form.get('confirmPassword').touched
            "
          >
            Password is required
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              !form.get('confirmPassword').hasError('required') &&
              form.hasError('mismatch') &&
              form.get('confirmPassword').touched
            "
          >
            Password must match
          </div>
        </div>

        <div class="form-groupmt-2" *ngIf="!loading">
          <button
            class="btn btn-success btn-block"
            [disabled]="!form.valid"
            type="submit"
          >
            Change Password
          </button>
        </div>
        <div class="text-center">
          <app-loading-spinner *ngIf="loading"></app-loading-spinner>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-3 col-lg-4"></div>
</div>
