<div class="row">
  <div class="col-sm-8">
    <h2>User Details</h2>
    <p><label>Username:</label> {{ user.username }}</p>
    <p><label>First Name:</label> {{ user.firstName }}</p>
    <p><label>Last Name:</label> {{ user.lastName }}</p>
    <p><label>Email:</label> {{ user.email }}</p>
    <p>
      <label>Member since:</label> {{ user.createdOn | date: "mediumDate" }}
    </p>
  </div>
  <div class="col-sm-4">
    <h2>Roles</h2>
    <div class="ml-4">
      <app-roles [user]="user"></app-roles>
    </div>
    <hr>
    <app-card-limit [user]="user"></app-card-limit>
    <app-collection-limit [user]="user"></app-collection-limit>
  </div>
</div>
