<div class="row" *ngIf="!selectedUser && !loading">
  <div *ngFor="let item of users" class="col-md-4 col-sm-6 mb-4">
    <app-user-item
      [user]="item"
      (click)="showUserDetials(item)"
    ></app-user-item>
  </div>
</div>
<div *ngIf="selectedUser">
  <div class="row">
    <div class="col-6">
      <button class="btn btn-light mr-1" (click)="hideUserDetials()">
        Back to Users
      </button>
    </div>
    <div class="col-6 text-right">
      <button class="btn btn-danger" *ngIf="!selectedUser.locked && !lockUnlockInProgress" (click)="lockUser()">Lock User</button>
      <button class="btn btn-warning" *ngIf="selectedUser.locked && !lockUnlockInProgress"(click)="unlockUser()">Unlock User</button>
      <app-loading-spinner *ngIf="lockUnlockInProgress"></app-loading-spinner>
    </div>
  </div>

  <hr />
  <app-user-details [user]="selectedUser"></app-user-details>
</div>
<div class="text-center">
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
</div>
