<div class="card">
  <div class="card-body">
    <tabset>
      <tab heading="Question">
        <p style="height: 100px;">{{ card.question }}</p>
      </tab>
      <tab heading="Answer">
        <p style="height: 100px;">{{ card.answer }}</p>
      </tab>
      <tab heading="Example">
        <p style="height: 100px;">{{ card.example }}</p>
      </tab>
    </tabset>
  <div class="form-group">
    <button class="btn btn-info ml-1">Edit</button>
    <button class="btn btn-danger ml-1">Delete</button>
  </div>
</div>
