<div class="card">
  <div class="card-body">
    <tabset *ngIf="!showDeleteForm">
      <tab heading="Question">
        <p
          class="text-{{ card.jsonData.textStyles[0].align }} text-{{
            card.jsonData.textStyles[0].direction
          }}"
        >
          {{ card.question }}
        </p>
        <app-text-style
          [currentStyle]="card.jsonData.textStyles[0]"
        ></app-text-style>
      </tab>
      <tab heading="Answer">
        <p
          class="text-{{ card.jsonData.textStyles[1].align }} text-{{
            card.jsonData.textStyles[1].direction
          }}"
        >
          {{ card.answer }}
        </p>
        <app-text-style
          [currentStyle]="card.jsonData.textStyles[1]"
        ></app-text-style>
      </tab>
      <tab heading="Example">
        <p
          class="text-{{ card.jsonData.textStyles[2].align }} text-{{
            card.jsonData.textStyles[2].direction
          }}"
        >
          {{ card.example }}
        </p>
        <app-text-style
          [currentStyle]="card.jsonData.textStyles[2]"
        ></app-text-style>
      </tab>
    </tabset>

    <hr />
    <button class="btn btn-info" *ngIf="itIsOwnerCard" (click)="editCard()">
      Edit
    </button>
    <button
      class="btn btn-danger ml-1"
      *ngIf="itIsOwnerCard && !showDeleteForm"
      (click)="showDeleteForm = true"
    >
      Delete
    </button>

    <app-card-delete
      *ngIf="showDeleteForm && !showDeleteForm"
      (response)="deleteCard($event)"
    ></app-card-delete>
  </div>
</div>
