<div class="card">
  <div class="card-body">
    <tabset *ngIf="!showDeleteForm">
      <tab heading="Question">
        <p style="height: 100px;">{{ card.question }}</p>
      </tab>
      <tab heading="Answer">
        <p style="height: 100px;">{{ card.answer }}</p>
      </tab>
      <tab heading="Example">
        <p style="height: 100px;">{{ card.example }}</p>
      </tab>
    </tabset>
  <div class="form-group" *ngIf="itIsOwnerCard && !showDeleteForm" >
    <button class="btn btn-info" (click)="editCard()">Edit</button>
    <button class="btn btn-danger ml-1" (click)="showDeleteForm = true;">Delete</button>
  </div>
  <app-card-delete *ngIf="showDeleteForm" (response)="deleteCard($event)"></app-card-delete>
</div>
