<h3>Service provider</h3>>
<p>
  Komakyad services will let you create your own virtual Lietner box or copy others if the authors allow you
</p>
<h3>
  Age requirements
</h3>
<p>
  If you are under 18 years old, you must have your parent or legal guardian's permission to use Komakyad. Parents or legal guardian should read these terms with you.
  If you are under 18 years old, you cannot follow others collections unless your parent or legal gaurdian let you to follow their collection.
</p>
<h3>Permission to write your content</h3>
<p>
  You cannot write any sexual, violent, private and crime content when using our services.
  Komakyad team always access to your contnet(even if you marked them private) and we have right to delete/change your content without any notice.
  Your content will be available for other users unless you mark them as private.
  Do not write any contact info in our services, we have right to ban you using our sevices if you do.
</p>
<h3>Privacy</h3>
<p>
  We will not share your name, email address, phone number and any other content that you mark it as private.
  Other users can read your contents if they are not marked as private, if you specified your name we will show it to other users when they are reading your content otherwise your username will be shown to them.
</p>
<p>
  We will store the IP address you are connecting to our services
</p>
<p>
  We will share your data if the law ask us.
</p>
<p>
  We have access to all of your data in our services except your password. Please do not use any data you don't want to share with us,
  you can use our services annynomously or with allias name, we can edit/delete them without any notice.
</p>