<div class="card">
  <div class="card-body">
    <div class="card-title">
      {{ model.title }}
    </div>
    <div style="text-align: right;" *ngIf="!showAddToReads">
      <span class="badge badge-warning ml-1" *ngIf="model.isPrivate">Private</span>
      <span class="badge badge-danger ml-1" *ngIf="!model.isPrivate">Public</span>
      <span class="badge badge-info ml-1">In read collections</span>
    </div>
    <hr />
    <app-collection-add-reads *ngIf="showAddToReads" (cancelAddToReads)="cancelAddReadMode($event)" [collectionId]="model.id"></app-collection-add-reads>
    <p class="card-text" *ngIf="!showAddToReads">
      {{ model.description }}
    </p>
    <div class="btn-group" dropdown [dropup]="true" *ngIf="!showAddToReads">
      <button
        id="button-dropup"
        dropdownToggle
        type="button"
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-dropup"
      >
        Options <span class="caret"></span>
      </button>
      <ul
        id="dropdown-dropup"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-dropup"
      >
        <li role="menuitem"><a class="dropdown-item" href="#">Preview</a></li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="showAddToReads = true">Add to reads</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" href="#">Search Cards</a>
        </li>
        <li
          class="divider dropdown-divider"
          *ngIf="model.author.id == authService.currentUser.id"
        ></li>
        <li
          role="menuitem"
          *ngIf="model.author.id == authService.currentUser.id"
        >
          <a class="dropdown-item" href="/collections/{{ model.id }}/update"
            >Edit</a
          >
        </li>
        <li
          role="menuitem"
          *ngIf="model.author.id == authService.currentUser.id"
        >
          <a class="dropdown-item" href="/collections/{{ model.id }}/cards"
            >New Card</a
          >
        </li>
        <li
          role="menuitem"
          *ngIf="
            model.author.id == authService.currentUser.id && !model.isPrivate
          "
        >
          <a class="dropdown-item" (click)="changePolicy('private')"
            >Make Private</a
          >
        </li>
        <li
          role="menuitem"
          *ngIf="
            model.author.id == authService.currentUser.id && model.isPrivate
          "
        >
          <a class="dropdown-item" (click)="changePolicy('public')"
            >Make Public</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="card-footer">
    Author: {{ model.author.firstName || "" + model.author.lastName || "" }}
  </div>
</div>
