<div class="container">
  <div *ngIf="!loading && sent">
    <p class="text-center alert alert-success">
      A confirmation email is sent to your email address, please check <strong>Spam/Junk</strong>
      if you didn't get an email from us.
    </p>
  </div>
  <div *ngIf="!loading && !sent">
    <p class=" alert alert-danger">
      The confirmation email was not sent, Due to the following error(s):
      <br/>
      {{this.errorMessage}}
    </p>
  </div>
  <div class="text-center" *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>
