<div *ngFor="let item of allRoles">
  <input
    *ngIf="activeRoles?.includes(item)"
    checked
    type="checkbox"
    class="form-check-input"
    value="item.id"
    id="role{{ item.name + randomNumber }}"
    (change)="roleChanged(item.name, $event.target.checked)"
  />

  <input
    *ngIf="!activeRoles?.includes(item)"
    type="checkbox"
    class="form-check-input"
    value="item.id"
    id="role{{ item.name + randomNumber }}"
    (change)="roleChanged(item.name, $event.target.checked)"
  />

  <label class="form-check-label" for="role{{ item.name + randomNumber }}">{{
    item.name
  }}</label>
</div>
