<div class="{{ class }}">
  <div
    class="btn-group mr-1"
    [(ngModel)]="currentStyle.direction"
    btnRadioGroup
    (ngModelChange)="triggerStyleChanged()"
  >
    <label
      class="btn btn-light"
      btnRadio="ltr"
      tabindex="0"
      role="button"
      ><i class="icon-ltr"></i></label
    >
    <label
      class="btn btn-light"
      btnRadio="rtl"
      tabindex="0"
      role="button"
      ><i class="icon-rtl"></i></label
    >
  </div>
  <div
    class="btn-group"
    [(ngModel)]="currentStyle.align"
    btnRadioGroup
    (ngModelChange)="triggerStyleChanged()"
  >
    <label
      class="btn btn-light"
      btnRadio="left"
      tabindex="0"
      role="button"
      ><i class="icon-paragraph-left"></i></label
    >
    <label
      class="btn btn-light"
      btnRadio="center"
      tabindex="0"
      role="button"
      ><i class="icon-paragraph-center"></i></label
    >
    <label
      class="btn btn-light"
      btnRadio="right"
      tabindex="0"
      role="button"
      ><i class="icon-paragraph-right"></i></label
    >
    <label
      class="btn btn-light"
      btnRadio="justify"
      tabindex="0"
      role="button"
      ><i class="icon-paragraph-justify"></i></label
    >
  </div>
</div>
