<div class="card">
  <div class="card-body">
    <h4>{{ readCollection.collection.title }}</h4>
    <p style="height: 120px;">{{ readCollection.collection.description }}</p>
    <div *ngIf="!readCollection.overview" class="text-center " style="height: 53px;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="row read-details" *ngIf="readCollection.overview">
      <div class="col-3">
        <div class="alert alert-secondary">
          <h6>Backlog</h6>
          {{ getBacklogCount() }}
        </div>
      </div>
      <div class="col-3">
        <div class="alert alert-info">
          <h6>Ready</h6>
          <span >{{
            readCollection.overview.dueCount
          }}</span>
        </div>
      </div>
      <div class="col-3">
        <div class="alert alert-danger">
          <h6>Failed</h6>
          <span >{{
            readCollection.overview.downCount
          }}</span>
        </div>
      </div>
      <div class="col-3 text-right">
        <div class="alert alert-success">
          <h6>Succeed</h6>
          <span >{{
            readCollection.overview.upCount
          }}</span>
        </div>
      </div>
    </div>

    <hr />
    <button class="btn btn-info mr-1" (click)="readThis()">Read</button>
    <button class="btn btn-success mr-1">Cards</button>
  </div>
</div>
