<div class="card {{ readCollection.deleted ? 'card-deleted' : '' }}">
  <div class="card-body">
    <div class="collection-details">
      <h5>{{ readCollection.collection.title }}</h5>
      <hr>
      <p *ngIf="!showMoveCards">{{ readCollection.collection.description }}</p>
    </div>
    <div *ngIf="!readCollection.overview" class="text-center" style="height: 53px">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="row read-details" *ngIf="readCollection.overview && !showMoveCards">
      <div class="col-3">
        <div class="alert alert-secondary">
          <h6>Backlog</h6>
          {{ getBacklogCount() }}
        </div>
      </div>
      <div class="col-3">
        <div class="alert alert-info">
          <h6>Ready</h6>
          <span>{{ readCollection.overview.dueCount }}</span>
        </div>
      </div>
      <div class="col-3">
        <div class="alert alert-danger">
          <h6>Failed</h6>
          <span>{{ readCollection.overview.downCount }}</span>
        </div>
      </div>
      <div class="col-3 text-right">
        <div class="alert alert-success">
          <h6>Succeed</h6>
          <span>{{ readCollection.overview.upCount }}</span>
        </div>
      </div>
    </div>

    <hr />
    <div *ngIf="!showMoveCards">
      <button class="btn btn-info mr-1" (click)="readThis()">Read</button>
      <button class="btn btn-dark mr-1" (click)="showMoveCards = true">
        Move Cards
      </button>
      <button class="btn btn-danger mr-1" *ngIf="!readCollection.deleted" (click)="remove.emit()">
        Delete
      </button>
      <button class="btn btn-secondary mr-1" *ngIf="readCollection.deleted" (click)="restoreDeleted.emit()">
        Undelete
      </button>
    </div>
    <app-move-cards *ngIf="showMoveCards" (done)="showMoveCards = false" [readCollectionId]="readCollection.id">
    </app-move-cards>
  </div>
</div>