<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Komak Yad</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/dashboard']"
            >Dashboard <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/collections']">Collections</a>
        </li>
      </ul>

      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome
          {{
            authService.currentUser.firstName +
              " " +
              authService.currentUser.lastName
          }}
        </a>

        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" href="#">
            <i class="fa fa-user"></i> Edit Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout()">
            <i class="fa fa-sign-out"></i>
            Logout</a
          >
        </div>
      </div>

      <form
        *ngIf="!loggedIn()"
        #lginForm="ngForm"
        class="form-inline mt-2 mt-md-0"
        (ngSubmit)="login()"
      >
        <input
          name="username"
          required
          class="form-control mr-sm-2"
          type="text"
          placeholder="Username, or email"
          aria-label="Username"
          spellcheck="false"
          data-ms-editor="true"
          [(ngModel)]="model.username"
        />
        <input
          name="password"
          required
          class="form-control mr-sm-2"
          type="password"
          placeholder="Password"
          aria-label="Password"
          spellcheck="false"
          data-ms-editor="true"
          [(ngModel)]="model.password"
        />
        <button
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
          [disabled]="!lginForm.valid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</nav>
