<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-2">
  <div class="container">
    <a class="navbar-brand" href="/">Komak Yad</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/dashboard']"
            >Dashboard <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/collections']">Collections</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="loggedIn() && authService.roles?.includes('Admin')"
        >
          <a class="nav-link" [routerLink]="['/management']">Management</a>
        </li>
      </ul>

      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome
          {{
            authService.currentUser.firstName +
              " " +
              authService.currentUser.lastName
          }}
        </a>

        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" href="/profile">
            <i class="fa fa-user"></i> Edit Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-sign-out"></i>
            Logout</a
          >
        </div>
      </div>

      <a
        *ngIf="!loggedIn()"
        class="btn btn-outline-light my-2 my-sm-0"
        href="/login"
      >
        Login
      </a>
    </div>
  </div>
</nav>
