<div class="row">
  <div class="col-sm-3 col-md-4 pt-5"></div>
  <div class="col-sm-6 col-md-4">
    <form
      [formGroup]="this.form"
      (ngSubmit)="forgotPass()"
      *ngIf="!showSucceedMessage"
    >
      <h2 class="text-center text-primary">Account Recovery</h2>
      <hr />
      <div class="form-group">
        <input
          type="email"
          [ngClass]="{
            'is-invalid':
              this.form.get('email').errors && this.form.get('email').touched
          }"
          class="form-control"
          formControlName="email"
          placeholder="Email"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            form.get('email').hasError('required') && form.get('email').touched
          "
        >
          The Email field is required.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            form.get('email').hasError('email') && form.get('email').touched
          "
        >
          The email address is invalid.
        </div>
      </div>

      <div class="form-group text-center mt-2" *ngIf="!loading">
        <button class="btn btn-success" [disabled]="!form.valid" type="submit">
          Submit
        </button>
        <button class="btn btn-default" type="button" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
    <div class="text-center">
      <app-loading-spinner *ngIf="loading"></app-loading-spinner>
    </div>
  </div>
  <div class="col-sm-3 col-md-4 pt-5"></div>
</div>

<div class="text-center alert alert-success" *ngIf="showSucceedMessage">
  <p>
    An email is sent to your email account, follow the instruction in the email
    to change your password.
  </p>
  <p>If you didn't receive any email check your Spam/Junk folder.</p>
</div>
