<form [formGroup]="form" (ngSubmit)="forgotPass()">
  <h2 class="text-center text-primary">Account Recovery</h2>
  <hr />
  <div class="form-group">
    <input
      type="email"
      [ngClass]="{
        'is-invalid':
        form.get('email').errors && form.get('email').touched
      }"
      class="form-control"
      formControlName="email"
      placeholder="Email"
    />
    <div class="invalid-feedback">The Email field is required.</div>
  </div>
  <div class="form-group text-center mt-2" *ngIf="!loading">
    <button
      class="btn btn-success"
      [disabled]="!form.valid"
      type="submit"
    >
      Register
    </button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
<div class="text-center">
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
</div>