<div class="container">
  <app-collectionDetails [collection]="collection"></app-collectionDetails>
  <hr />
  <div class="row" *ngIf="this.showCardEdit">
    <app-card-edit [card]="cardForEdit" [collectionId]="collection.id" (done)="closeEdit()" ></app-card-edit>
  </div>
  <div class="row" *ngIf="this.showCardsList">
    <div class="col-lg-8 col-12 mt-3">
      <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="form-group px-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="btn-group" dropdown>
                <button
                  id="button-dropup"
                  dropdownToggle
                  type="button"
                  class="btn btn-light dropdown-toggle"
                  aria-controls="dropdown-dropup"
                >
                  {{ filterInput }}
                  <span class="caret"></span>
                </button>
                <ul
                  id="dropdown-dropup"
                  *dropdownMenu
                  class="dropdown-menu"
                  role="menu"
                  aria-labelledby="button-dropup"
                >
                  <li role="menuitem">
                    <a class="dropdown-item" (click)="filterInput = 'Question'"
                      >Question</a
                    >
                  </li>
                  <li role="menuitem">
                    <a class="dropdown-item" (click)="filterInput = 'Answer'"
                      >Answer</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <input
              type="text"
              class="form-control"
              formControlName="searchInput"
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                Filter
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-12 mt-3">
      <pagination
        style="float: right;"
        [disabled]="isLoading"
        [totalItems]="pagination.totalItems"
        [(ngModel)]="pagination.currentPage"
        [itemsPerPage]="pagination.itemsPerPage"
        (pageChanged)="pageChanged($event)"
      ></pagination>
    </div>
  </div>
  <div style="position: relative;" *ngIf="this.showCardsList">
    <div class="loader-container {{ isLoading ? '' : 'hide' }}">
      <div class="loader"></div>
    </div>
    <div class="row mt-3" *ngIf="this.showCardsList">
      <div *ngFor="let item of cards" class="col col-lg-4 col-md-6 col-12 mb-2">
        <app-cardItem [card]="item" (edit)="editCard($event)" [itIsOwnerCard]="collection.author.id === authService.currentUser.id"></app-cardItem>
      </div>
    </div>
  </div>
</div>
