<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-4 pt-5"></div>
    <div class="col-sm-6 col-md-4">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        *ngIf="!showForgotPass"
      >
        <h2 class="text-center text-primary">Sign In</h2>
        <hr />

        <div class="form-group">
          <input
            type="text"
            [ngClass]="{
              'is-invalid':
                loginForm.get('username').errors &&
                loginForm.get('username').touched
            }"
            class="form-control"
            formControlName="username"
            placeholder="Username"
          />
          <div class="invalid-feedback">The Username field is required.</div>
        </div>

        <div class="form-group">
          <input
            type="password"
            [ngClass]="{
              'is-invalid':
                loginForm.get('password').errors &&
                loginForm.get('password').touched
            }"
            class="form-control"
            formControlName="password"
            placeholder="Password"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              loginForm.get('password').hasError('required') &&
              loginForm.get('password').touched
            "
          >
            The Password field is required.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              loginForm.get('password').hasError('minlength') &&
              loginForm.get('password').touched
            "
          >
            Password must be at least 6 characters
          </div>
        </div>

        <div class="form-group text-center mt-2" *ngIf="!loading">
          <button
            class="btn btn-success"
            [disabled]="!loginForm.valid"
            type="submit"
          >
            Login
          </button>
        </div>
        <div class="text-center">
          <app-loading-spinner *ngIf="loading"></app-loading-spinner>
        </div>
        <div class="text-center" (click)="showForgotPass = true" *ngIf="!loading">
          <button class="btn btn-link">Forgot Password?</button>
        </div>
      </form>
    </div>
    <div class="col-sm-3 col-md-4 pt-5"></div>
  </div>
  <app-forgot-password
    *ngIf="showForgotPass"
    (cancelled)="showForgotPass = false"
  ></app-forgot-password>
</div>
