<div class="mt-2">
  <h4>{{ readCollection.collection.title }}</h4>
  <p>{{ readCollection.collection.description }}</p>
  <p class="alert alert-info">
    You need to read {{ readCollection.readPerDay }} cards in deck 1 every day.
  </p>
  <hr />
  <div
    class="mb-2 row"
    ng-swipe-left="startReading(10)"
    *ngIf="!readModeActive"
  >
    <div class="col-md-4 col-sm-6 mb-2" *ngFor="let deck of decks">
      <div class="deck" (click)="startReading(deck.deck)">
        <div class="row">
          <div class="col-6">
            <div class="alert alert-secondary">Total 1650</div>
          </div>
          <div class="col-6">
            <div class="alert alert-info">Ready 50</div>
          </div>
          <div class="col-6">
            <div class="alert alert-success">Succeed 50</div>
          </div>
          <div class="col-6">
            <div class="alert alert-danger">Failed 66</div>
          </div>
        </div>
        <div
          style="font-size: 3.5em; font-weight: bold;"
          class="text-center text-light"
        >
          DECK {{ deck.deck }}
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="readModeActive">
    <div style="font-size: 1.5em; font-weight: bold;" class="col-6">
      Deck {{ currentDeck }}
    </div>
    <div class="col-6 text-right">
      <div class="btn-group mb-2" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-light dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          Change Deck <span class="caret"></span>
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem" *ngFor="let deck of decks">
            <a class="dropdown-item" (click)="startReading(deck.deck)"
              >Deck {{ deck.deck }}</a
            >
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" (click)="readModeActive = false;">Back to Details</a>
        </ul>
      </div>
    </div>
  </div>
  <app-read *ngIf="readModeActive" [readCards]="readCards"></app-read>
</div>
